<template>
  <div class='flex items-center justify-center'>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">{{label}}</button>
  </div>
</template>

<script>
  export default {
    props: ['label'],
  }
</script>
