<template>
    <header class="h-24 w-11/12 p-4 border-b-2 border-blue-light flex flex-row justify-start"  >
        <img class="h-full" src="~/assets/pingr-logo.svg" alt="pingr logo" />
    </header>
</template>