<template>
  <div>
    <div class='mb-4'>
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password: </label>
      <input
            id="password"
            type="password"
            v-model="password"
            name="password"
            class='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
            :class="inputBorder"
            @input="validatePassword"
        />
      <div>
        <p v-if="malformedPassword" class='text-red-500 text-sm font-bold mb-2'>
          The password must be from 8 to 32 characters long.
        </p>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      password: '',
      malformedPassword: false,
      inputBorder: ''
    };
  },
  methods: {
    validatePassword() {
      if (this.password.length >= 8 && this.password.length <= 32) {
        this.malformedPassword = false;
        this.inputBorder = ""
        this.$store.commit('updatePassword', this.password)
      } else {
        this.inputBorder = "border-2 border-red-500 rounded-md focus:border-2 focus:border-red-500 focus:outline-none ..."
        this.malformedPassword = true;
      }
    },
  },
};
</script>
