<template>
  <div>
    <div class='mb-4'>
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Username: </label>
      <input
            id="username"
            v-model="username"
            name="username"
            class='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
            :class="inputBorder"
            @input="validateUsername"
        />
      <div>
        <p v-if="malformedUsername" class='text-red-500 text-sm font-bold mb-2'>
          The username is mandatory and it can not start with numbers.
        </p>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      username: '',
      malformedUsername: false,
      inputBorder: ''
    };
  },
  methods: {
    validateUsername() {
      if (this.username.length > 0) {
        if (/^\d+$/.test(this.username.charAt(0))) {
          this.malformedUsername = true
          this.inputBorder = "border-2 border-red-500 rounded-md focus:border-2 focus:border-red-500 focus:outline-none ..."
        } else {
          this.malformedUsername = false
          this.inputBorder = ""
          this.$store.commit('updateUsername', this.username)
        }
      } else {
        this.malformedUsername = true
        this.inputBorder = "border-2 border-red-500 rounded-md focus:border-2 focus:border-red-500 focus:outline-none ..."
      }
    },
  },
};
</script>
