<template>
  <div>
    <div class='mb-4'>
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">E-mail: </label>
      <input
            id="email"
            v-model="email"
            name="email"
            class='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
            :class="inputBorder"
            @input="validateEmail"
        />
      <div>
        <p v-if="malformedEmail" class='text-red-500 text-sm font-bold mb-2'>
           The e-mail is mandatory and it must be in the format 'name@domain.com'
        </p>
      </div>
    </div>
  </div>
</template>




<script>
export default {
  data() {
    return {
      email: '',
      malformedEmail: false,
      inputBorder: ''
    };
  },
  methods: {
    validateEmail() {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      const isValid = re.test(String(this.email).toLowerCase());
      if (isValid) {
        this.malformedEmail = false;
        this.inputBorder = ""
        this.$store.commit('updateEmail', this.email)

      } else {
        this.malformedEmail = true;
        this.inputBorder = "border-2 border-red-500 rounded-md focus:border-2 focus:border-red-500 focus:outline-none ..."
      }
    },
  },
};
</script>
