<template>
    <div>
      <form class='bg-white shadow-md rounded px-8 pt-6 pb-6'>
        <div>
          <div class='mb-4'>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">E-mail: </label>
              <input
                id="email"
                v-model="email"
                name="email"
                class='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
              />
          </div>
        </div>
          <div>
            <div class='mb-4'>
              <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password: </label>
                <input
                  id="password"
                  type="password"
                  v-model="password"
                  name="password"
                  class='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
                />
            </div>
        </div>
        <div class='flex items-center justify-center'>
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" @click.prevent="signIn">Sign-In</button>
        </div>
      </form>
    </div>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
    };
  },

  methods: {
    async signIn() {
      const response = await this.$axios.post('/login', this.data);
      console.log(response)
    }
  },
}
</script>
