<template>
    <div class='w-full max-w-xs'>
      <h1 class='bg-white shadow-md rounded px-8 pt-4 text-gray-700 text-m font-bold underline' > {{title}} </h1>
      <Sign-in v-if="isSignIn"/>
      <Sign-up v-else />
      <button class='bg-white shadow-md rounded px-8 pb-8 mb-4' @click="toggle">{{toggleMessage}}</button>
    </div>
</template>

<script>
export default {
  data() {
    return {
      isSignIn: true,
      title: "Sign-in",
      toggleMessage: "Does not have an account? Click here to sign-up."
    };
  },
  methods: {
    toggle(){
      this.isSignIn = !this.isSignIn
      if(this.isSignIn) {
        this.toggleMessage = "Does not have an account? Click here to sign-up."
        this.title = "Sign-in"
      }
      else {
        this.toggleMessage = "Already have an account? Click here to sign-in."
        this.title = "Sign-up"
      }
    }
  },
};
</script>
