<template>
    <div>
      <form class='bg-white shadow-md rounded px-8 pt-6 pb-6'>
        <div>
          <div class='mb-4'>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">E-mail: </label>
              <input
                id="email"
                v-model="email"
                name="email"
                class='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
                :class="inputBorderEmail"
                @input="validateEmail"
              />
            <div>
              <p v-if="malformedEmail" class='text-red-500 text-sm font-bold mb-2'>
                The e-mail is mandatory and it must be in the format 'name@domain.com'
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class='mb-4'>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Username: </label>
              <input
                id="username"
                v-model="username"
                name="username"
                class='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
                :class="inputBorderUsername"
                @input="validateUsername"
              />
            <div>
              <p v-if="malformedUsername" class='text-red-500 text-sm font-bold mb-2'>
                The username is mandatory and it can not start with numbers.
              </p>
            </div>
          </div>
        </div>
          <div>
            <div class='mb-4'>
              <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password: </label>
                <input
                  id="password"
                  type="password"
                  v-model="password"
                  name="password"
                  class='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
                  :class="inputBorderPassword"
                  @input="validatePassword"
                />
              <div>
                <p v-if="malformedPassword" class='text-red-500 text-sm font-bold mb-2'>
                  The password must be from 8 to 32 characters long.
                </p>
              </div>
            </div>
        </div>
        <div class='flex items-center justify-center'>
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" @click.prevent="signUp">Sign-Up</button>
        </div>
      </form>
    </div>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      malformedEmail: false,
      validatedEmail: false,
      inputBorderEmail: '',
      password: '',
      malformedPassword: false,
      validatedPassword: false,
      inputBorderPassword: '',
      username: '',
      malformedUsername: false,
      validatedUsername: false,
      inputBorderUsername: ''
    };
  },

  methods: {
    validateEmail() {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      const isValid = re.test(String(this.email).toLowerCase());
      if (isValid) {
        this.malformedEmail = false;
        this.validatedEmail = true;
        this.inputBorderEmail = ""
        this.$store.commit('updateEmail', this.email)

      } else {
        this.malformedEmail = true;
        this.validatedEmail = false;
        this.inputBorderEmail = "border-2 border-red-500 rounded-md focus:border-2 focus:border-red-500 focus:outline-none ..."
      }
    },

    validateUsername() {
      if (this.username.length > 0) {
        if (/^\d+$/.test(this.username.charAt(0))) {
          this.malformedUsername = true
          this.validatedUsername = false
          this.inputBorder = "border-2 border-red-500 rounded-md focus:border-2 focus:border-red-500 focus:outline-none ..."
        } else {
          this.malformedUsername = false
          this.validatedUsername = true
          this.inputBorderUsername = ""
          this.$store.commit('updateUsername', this.username)
        }
      } else {
        this.malformedUsername = true
        this.inputBorderUsername = "border-2 border-red-500 rounded-md focus:border-2 focus:border-red-500 focus:outline-none ..."
      }
    },

    validatePassword() {
      if (this.password.length >= 8 && this.password.length <= 32) {
        this.malformedPassword = false;
        this.validatedPassword = true;
        this.inputBorderPassword = ""
        this.$store.commit('updatePassword', this.password)
      } else {
        this.inputBorderPassword = "border-2 border-red-500 rounded-md focus:border-2 focus:border-red-500 focus:outline-none ..."
        this.malformedPassword = true;
        this.validatedPassword = false;
      }
    },

    signUp() {
      if (this.validatedEmail && this.validatedUsername && this.validatedPassword) {
        this.$store.dispatch('signUp')
      }
      else {
        this.validateEmail()
        this.validateUsername()
        this.validatePassword()
      }
    },
  }
}
</script>
