<template>
  <div>
    <h2 class="text-3xl font-bold">Tag Now</h2>
    <li v-for="tag in tags" :key="tag._id" class="list-none my-2">
      <Tag :name="tag._id" />
    </li>
  </div>
</template>

<script>
export default {
  async beforeCreate() {
    await this.$store.dispatch('tagnow/fetchTags')
  },
  computed: {
    tags() {
      const tags = [...this.$store.state.tagnow.tags] ?? []
      return tags.sort((tag1, tag2) => tag1.count - tag2.count)
    }
  }

}
</script>
