<template>
  <div class="w-full min-h-screen bg-blue-dark text-white flex flex-col items-center">
    <Header/>
    <main class="w-full flex flex-row items-start justify-around p-8">
      <TagNow />
      <Sign/>
    </main>
  </div>
</template>

<script>
export default {}
</script>
